.sidebarBlock {
  min-width: 84px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.centerBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: fit-content;
}
