.container {
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  position: relative;
  top: -5px;
  left: -5px;
}

.container > svg path {
  stroke-opacity: 1;
  stroke: white;
  stroke-width: 2px;
  transition: stroke-opacity 0.3s ease-in-out;
}

.mainPath {
  stroke-opacity: 1 !important;
  stroke-width: 4px !important;
}

.backgroundMask > rect {
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}
.active .backgroundMask > rect {
  opacity: 0.2;
}
