.heroImageContainer {
  width: 100%;
  max-width: 1600px;
  margin: 5em auto;
  height: max(40vh, 40vw);
  max-height: 700px;
  position: relative;
}

.heroImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.square1 {
  width: 180px;
  height: 180px;
  position: absolute;
  background-color: #a4bbc6;
  top: -20px;
  left: calc(40% - 180px);
}
.square2 {
  width: 140px;
  height: 140px;
  position: absolute;
  background-color: #8a9691;
  bottom: -20px;
  left: calc(25% - 140px);
}
.square3 {
  width: 120px;
  height: 120px;
  position: absolute;
  background-color: #009ec9;
  top: 20%;
  right: calc(35% - 120px);
}

@media (max-width: 960px) {
  .square1 {
    width: 120px;
    height: 120px;
    left: calc(40% - 120px);
  }
  .square2 {
    width: 100px;
    height: 100px;
    left: calc(25% - 100px);
  }
  .square3 {
    width: 90px;
    height: 90px;
    right: calc(35% - 90px);
  }
}

@media (max-width: 680px) {
  .square1 {
    width: 90px;
    height: 90px;
    left: calc(40% - 90px);
  }
  .square2 {
    width: 80px;
    height: 80px;
    left: calc(25% - 80px);
  }
  .square3 {
    width: 70px;
    height: 70px;
    right: calc(35% - 70px);
  }
}
