.footer {
  position: relative;
  overflow: hidden;
  margin-top: 100px;
}

.name {
  text-align: center;
  color: var(--content-secondary);
}

.footerBlock {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.footerRow {
  display: flex;
  justify-content: flex-end;
  width: min(100vw - 40px, 1200px);
  margin: auto auto 0;
}

.footerContent {
  margin-bottom: 1em;
  padding: 4px;
  background-color: var(--background-primary);
}
