.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.page {
  background-color: dodgerblue;
  padding: 0 0 80px;
}
.page-white {
  background-color: white;
}

.body {
  background-color: dodgerblue;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em;
}

.top-level-container {
  margin: 3em 0 0 0;
}

.blue {
  color: dodgerblue;
}

.white {
  color: white;
}

.grey {
  color: grey;
}

h1 {
  font-size: 36px;
  margin: 0;
}

h2 {
  font-size: 24px;
  margin: 0;
}

h3 {
  font-size: 18px;
  margin: 0;
}

h4 {
  font-size: 16px;
}

li {
  font-size: 16px;
}

.App-link {
  color: #61dafb;
  transition: 0.5s;
}
.App-link:hover {
  color: #8fe7ff;
}

.logo {
  color: white;
  font-family: "Libre Franklin";
  font-style: bold;
  font-variant: normal;
  font-weight: 700;
  text-decoration: none;
  -webkit-text-stroke: 1px white;

  -webkit-transition: color 0.5s, letter-spacing 1.5s;
  -moz-transition: color 0.5s, letter-spacing 1.5s;
  -ms-transition: color 0.5s, letter-spacing 1.5s;
  -o-transition: color 0.5s, letter-spacing 1.5s;
  transition: color 0.5s, letter-spacing 1.5s;
}

.logo:hover {
  color: dodgerblue;
  letter-spacing: 0.2px;
}

/* nav bar */
.nav-bar-container {
  position: relative; /* initial position */
  background: dodgerblue;
  max-width: 1200px;
  z-index: 10;
  height: 50px;
}

.nav-bar-container.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0 1em;
}

/* home page */
/* Center the image */
.splash-background {
  position: fixed;
  top: 50%;
  left: 50%;
  width: calc(100vw / 2);
  height: calc(100vh / 2);
  height: calc(100vh * 2);
  transform: translate(-50%, -50%);
  transition: 1s;
  z-index: -1;
}

/* When the user hovers over the image */
.splash-background.large {
  /* Expand the image */
  width: calc(100vw * 3);
  height: calc(100vh * 3);
  /* Center the expanded image */
  transition: 1s;
}

/* home page */
/* Center the image */
.splash {
  position: relative;
  top: 50%;
  left: 50%;
  width: calc(100vw / 2);
  height: calc(100vh / 2);
  height: calc(100vh * 2);
  transform: translate(-50%, -50%);
  transition: 1s;
}

/* projects section */
.projects-section {
  overflow-x: scroll;
  white-space: nowrap;
}

.project-card {
  position: relative;
  display: inline-block;
  width: 600px;
  max-width: 60vw;
  padding: 1em;
  margin: 20px 20px 20px 0;
  background-color: white;
  border-radius: 20px;
  vertical-align: top;
  white-space: normal;
  height: 600px;
}

.project-card-middle {
  display: flex; /* Set the parent element to be a flex container */
  align-items: center; /* Center the child element vertically */
  height: 300px; /* Set a height for the parent element */
  padding: 20px 0;
}

.project-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.project-card-bottom {
  position: absolute;
  bottom: 2em;
  right: 2em;
  left: 2em;
}

.button {
  display: inline-block;
  height: 40px;
  width: 150px;
  border-radius: 20px;
  background-color: #007bff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: background-color 0.3s;
  cursor: pointer;
}

.button.secondary {
  background-color: white;
}

.button-text {
  color: #fff;
  text-decoration: none;
}

.button:hover {
  background-color: #0056b3;
}

.button-text.secondary {
  color: #007bff;
}

.button.secondary:hover {
  background-color: #e9f4ff;
}

.about-body {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media screen and (min-width: 700px) {
  .about-body {
    width: 75%;
  }
}

.about-section-sidebar {
  min-width: 84px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.about-section-center {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  flex-grow: 1;
  color: white;
}

.emoji {
  display: inline-block;
  font-size: 44px;
  margin: 0 3px;
  transition: all 0.3s ease;
  height: 84px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-content: middle;
  cursor: "pointer" !important;
}

.emoji.hovered {
  font-size: 64px;
}

.emoji-label {
  font-weight: 600;
  color: rgb(143, 216, 255);
  cursor: "pointer";
  transition: color 0.3s;
}

.emoji-label.hovered {
  color: rgb(235, 244, 255);
}

.about-link {
  margin-top: 20px;
}
