.App {
  max-width: 1200px;
  margin: 0 auto;
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.logo {
  float: left;
  color: dodgerblue;
  font-family: "Helvetica";
  font-size: 32px;
  font-style: bold;
  font-variant: normal;
  font-weight: 700;
  text-decoration: none;
  -webkit-text-stroke: 0.5px dodgerblue;
  z-index: -1;
  overflow: hidden;
  margin: 18px 0 12px;

  -webkit-transition: color 0.5s, letter-spacing 1.5s;
  -moz-transition: color 0.5s, letter-spacing 1.5s;
  -ms-transition: color 0.5s, letter-spacing 1.5s;
  -o-transition: color 0.5s, letter-spacing 1.5s;
  transition: color 0.5s, letter-spacing 1.5s;
}

.logo:hover {
  color: white;
  letter-spacing: 0.2px;
}
