.App {
  max-width: 1200px;
  margin: 0 auto 80px;
  padding: 0 2em;
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

h1 {
  font-size: 36px;
  margin: 12px 0;
}

h2 {
  font-size: 24px;
  margin: 10px 0;
}

h3 {
  font-size: 18px;
  margin: 8px 0;
}

h4 {
  font-size: 16px;
}

li {
  font-size: 16px;
}

.App-link {
  color: #61dafb;
}

.logo {
  color: dodgerblue;
  font-family: "Helvetica";
  font-style: bold;
  font-variant: normal;
  font-weight: 700;
  text-decoration: none;
  -webkit-text-stroke: 0.5px dodgerblue;
  margin: 18px 0 12px;

  -webkit-transition: color 0.5s, letter-spacing 1.5s;
  -moz-transition: color 0.5s, letter-spacing 1.5s;
  -ms-transition: color 0.5s, letter-spacing 1.5s;
  -o-transition: color 0.5s, letter-spacing 1.5s;
  transition: color 0.5s, letter-spacing 1.5s;
}

.logo:hover {
  color: white;
  letter-spacing: 0.2px;
}
